{% assign _COMMENTS = site.data.comments[page.slug] %}
{% assign _ENDPOINT = site.staticman.api
  | append: '/v2/entry/'
  | append: site.staticman.repo
  | append: '/'
  | append: site.staticman.branch
  | append: '/comments'
%}

{% assign comment_parent_totals = _COMMENTS | where_exp: 'item', 'item[1].replying_to == blank' %}

<section class="comments">
  <h2 class="comments__title">Comments ({{ comment_parent_totals | size | default: 0 }})</h2>
  {% if _COMMENTS %}
    <ul class="comments__entries">
      {% assign comments = _COMMENTS | sort %}

      {% for comment in comments %}
        {% assign parentData = comment[1] %}
        {% assign parentGUID = parentData._id %}
        {% assign _replies = comments | where_exp: 'item', 'item[1].replying_to == parentGUID' %}

        {% if parentData.replying_to.size < 1 %}
          <li class="comment comment--entry" id="{{ parentGUID }}">
            <div class="comment__header">
              <h3 class="comment__author">{{ parentData.name | escape }}</h3>
              <time class="comment__date" datetime="{{ parentData.date | date_to_xmlschema }}">
                {{- parentData.date | date: '%d %B %Y, %H:%M' -}}
              </time>
            </div>
            <div class="comment__content">
              {{ parentData.message | markdownify }}
            </div>
            <div class="comment__reply">
              <button class="comment__reply-btn" type="button" onclick="showReplyForm('{{parentGUID}}')">Reply</button>

              {% if _replies.size > 0 %}
                <ul class="comment__reply-list" aria-labelledby="{{ parentGUID }}">
                  {% for reply in _replies %}
                    {% assign _rdata = reply[1] %}
                    <li class="comment comment--reply" id="{{ _rdata._id }}">
                      <div class="comment__header">
                        <h3 class="comment__author">{{ _rdata.name | escape }}</h3>
                        <time class="comment__date" datetime="{{ _rdata.date | date_to_xmlschema }}">
                          {{- _rdata.date | date: '%d %B %Y, %H:%M' -}}
                        </time>
                      </div>
                      <div class="comment__content">
                        {{ _rdata.message | markdownify }}
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% else %}
    <p class="comments__empty">No comments yet. Be the first to comment!</p>
  {% endif %}

  <form class="form" method="POST" action="{{ _ENDPOINT }}" id="comment-form">
    <input type="hidden" name="options[redirect]" value="{{ page.id | absolute_url }}#comments">
    <input type="hidden" name="options[slug]" value="{{ page.slug }}">
    <input type="hidden" id="reply-value" name="fields[replying_to]" value>

    <fieldset class="comment-form">
      <legend class="comment-form__title">Leave a comment</legend>
      <div class="comment-form__field">
        <label for="comment-name" class="comment-form__label">Name</label>
        <input
          type="text"
          id="comment-name"
          name="fields[name]"
          class="comment-form__input"
          autocomplete="name"
          required
        >
      </div>
      <div class="comment-form__field">
        <label for="comment-email" class="comment-form__label">Email <small>(optional)</small></label>
        <input type="email" id="comment-email" name="fields[email]" class="comment-form__input" autocomplete="email">
      </div>
      <div class="comment-form__field">
        <label for="comment-message" class="comment-form__label">Comment</label>
        <textarea
          id="comment-message"
          name="fields[message]"
          class="comment-form__textarea"
          rows="5"
          required
        ></textarea>
      </div>
      <div class="comment-form__action">
        <button type="submit" class="comment-form__button">Send</button>
        <button
          id="reply-cancel"
          type="button"
          onclick="resetReplyForm()"
          class="comment-form__button"
          style="display: none;"
        >
          Cancel
        </button>
      </div>
    </fieldset>
  </form>
</section>

<script>
  function resetReplyForm() {
    document.getElementById('reply-cancel').style.display = 'none';
    document.getElementById('reply-value').removeAttribute('value');
  }

  function showReplyForm(commentId) {
    document.getElementById('reply-cancel').style.display = 'inline-block';
    document.getElementById('reply-value').setAttribute('value', commentId);
    document.getElementById('comment-form').scrollIntoView();
  }
</script>
