/* Comments */
.comments {
  font-size: 1rem;

  &__title {
    font-size: 1.5rem;
    border-bottom: var(--border-width) var(--border-style) var(--border-color);
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
  }

  &__entries {
    list-style: none;

    > :last-child {
      margin-bottom: 0;
    }
  }
}

.comment__replies {
  border-left: var(--border-width) var(--border-style) var(--border-color);
  list-style: none;
  margin-top: 1rem;
  padding-left: 1rem;
}

.comment {
  background-color: #fff;
  border: var(--border-width) var(--border-style) var(--border-color);
  margin-bottom: 1rem;
  padding: 1rem;

  > :last-child {
    margin-bottom: 0;
  }

  &--entry {
    > .comment__header {
      .comment__author {
        flex: 1 0 auto;
      }

      .comment__date {
        margin-inline: 1rem;
      }
    }
  }

  &--reply {
    border-width: var(--border-width);
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__reply-btn {
    --border-width: 2px;
    display: block;
    background-color: #000;
    color: #fff;
    border: var(--border-width) var(--border-style) var(--border-color);
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      background-color: #fff;
      color: #000;
      box-shadow: 2px 2px 0 #000;
      transform: translate(-2px, -2px);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    border-bottom: 1px dotted #000;
  }

  &__author {
    font-size: 1.15rem;
    font-weight: bold;
  }

  &__date {
    font-size: 0.8rem;
    color: #666;
  }

  &__content {
    font-size: inherit;
    margin: 1rem 0;

    > :first-of-type {
      margin-bottom: 1rem;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }
}

/* Comment Form */
.form {
  display: block;
  overflow: hidden;
  background: none;
  margin: 1.5rem 0;
}

.comment-form {
  background-color: #fff;
  border: var(--border-width) var(--border-style) var(--border-color);
  padding: 1rem;

  &__title {
    background-color: #fff;
    border: var(--border-width) var(--border-style) var(--border-color);
    box-shadow: 3px 3px 0 #000;
    color: #000;
    font-size: 1rem;
    padding: 3px 9px;
  }

  &__group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    > * {
      flex: 1;
    }
  }

  &__field {
    margin-bottom: 1rem;
  }

  &__label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.15rem;
  }

  &__input,
  &__message,
  &__textarea {
    border: var(--border-width) var(--border-style) var(--border-color);
    display: block;
    padding: 0.75rem;
    width: 100%;

    &::placeholder {
      font-size: 0.875rem;
    }

    // &:focus {
    //   border-color: #7474f5;
    //   outline-color: #7474f5;
    // }

    // &:valid {
    //   border-color: #4a7c59;
    // }

    // &:invalid {
    //   border-color: #c75050;
    // }
  }

  &__message,
  &__textarea {
    min-height: 3rem;
    overflow: hidden;
    resize: vertical;
  }

  &__button {
    background-color: #000;
    color: #fff;
    border: var(--border-width) var(--border-style) var(--border-color);
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      background-color: #fff;
      color: #000;
      box-shadow: 3px 3px 0 #000;
      transform: translate(-3px, -3px);
    }
  }
}
