figure.highlight, /* from {% highlight %} tag */
div.highlight     /* from kramdown rendering */ {
  overflow: hidden;
  position: relative;
  background: #f8f7f1;
  margin: 1rem 0;
  padding: 0.5rem;

  // pre.highlight, .table pre
  pre {
    background: none;
    border-radius: 0;
    border: none;
    margin: 0;
    padding: 0;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    width: 100%;

    td {
      padding: 5px;

      &:first-child {
        text-align: right;
        user-select: none;
        width: fit-content;
      }
    }
  }
}

.highlight {
  .highlight,
  .w {
    color: #586e75;
  }
  .err {
    color: #002b36;
    background-color: #dc322f;
  }
  .c,
  .ch,
  .cd,
  .cm,
  .cpf,
  .c1,
  .cs {
    color: #657b83;
  }
  .cp,
  .nt,
  .nf {
    color: #b58900;
  }
  .o,
  .ow,
  .p,
  .pi {
    color: #93a1a1;
  }
  .gi {
    color: #859900;
  }
  .gd {
    color: #dc322f;
  }
  .gh {
    background-color: #002b36;
    color: #268bd2;
    font-weight: bold;
  }
  .ge {
    font-style: italic;
  }
  .ges {
    font-weight: bold;
    font-style: italic;
  }
  .gs {
    font-weight: bold;
  }
  .k,
  .kn,
  .kp,
  .kr,
  .kv {
    color: #6c71c4;
  }
  .kc,
  .kt,
  .kd {
    color: #cb4b16;
  }
  .s,
  .sb,
  .sc,
  .dl,
  .sd,
  .s2,
  .sh,
  .sx,
  .s1 {
    color: #859900;
  }
  .sa {
    color: #6c71c4;
  }
  .sr {
    color: #2aa198;
  }
  .si,
  .se {
    color: #d33682;
  }

  .nn,
  .nc,
  .no {
    color: #b58900;
  }
  .na {
    color: #268bd2;
  }
  .il,
  .m,
  .mb,
  .mf,
  .mh,
  .mi,
  .mo,
  .mx {
    color: #859900;
  }
  .ss {
    color: #859900;
  }
}
