@use "../abstracts/variables";

.markdown-prose {
  // Headings
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: variables.$heading-margin-top;
    margin-bottom: variables.$heading-margin-bottom;
  }

  h2 {
    border-bottom: 2px solid var(--color-dark);
    font-size: 1.8rem;
    margin: 2rem 0 1rem;
    padding-bottom: 0.5rem;
  }

  h3 {
    font-size: 1.4rem;
    margin: 1.5rem 0 1rem;
  }

  // Paragraphs
  p {
    margin-bottom: 1.5rem;
  }

  // Lists
  ul,
  ol {
    margin-bottom: 1.5rem;
    padding-left: 2rem;

    @at-root {
      li > & {
        margin-bottom: 0.5rem;
      }
    }
  }

  // Links
  a {
    text-decoration: underline solid 1px;
    transition: color 0.2s ease-in-out;

    &:hover {
      text-decoration-style: dotted;
    }
  }

  // Blockquotes
  blockquote {
    border-left: var(--border-width) var(--border-style) var(--border-color);
    font-style: italic;
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  // Code
  pre,
  code {
    font-family: variables.$font-family-mono;
    font-size: 0.875rem;
  }

  code {
    padding: 0.2em 0.4em;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 3px;
  }

  pre {
    font-size: 0.9rem;
    padding: 1rem;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;

    code {
      background: none;
      font: inherit;
      padding: 0;
    }
  }

  img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin: 1.5rem 0;
    border: var(--border-width) var(--border-style) var(--border-color);
  }
}
